@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
}
:root {
    --transparent: transparent;
    --light: #ffffff;
    --dark: #000000;
    --danger: #e31201;
    --semi-danger: #be1000;
    --secondary: #a6a6a6;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}



.header {
    width: 100%;
    position: absolute;
    padding: 20px 0;
}
.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    width: 128px;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-nav__btn {
    cursor: pointer;
    display: inline-block;
    padding: 12px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.outline-light {
    background-color: var(--transparent);
    border: 1px solid var(--light);
    color: var(--light);
}
.outline-light:hover {
    background-color: var(--light);
    color: var(--dark);
}
.danger {
    background-color: var(--danger);
    border: 1px solid var(--danger);
    color: var(--light);
}
.danger:hover {
    background-color: var(--semi-danger);
    border: 1px solid var(--semi-danger);
}


.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.56), rgba(0,0,0,0.56)), url('../images/main.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.home-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-title, .home-subtitle, .home-content {
    color: var(--light);
}
.home-title {
    font-weight: 900;
    font-size: 64px;
    text-align: center;
}
.home-subtitle {
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}
.home-content {
    font-size: 16px;
    font-weight: 400;
}
.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.subscribe-form__control {
    background-color: var(--transparent);
    color: var(--light);
    border: 1.5px solid var(--light);
    border-radius: 10px;
    width: 30%;
    padding: 18px;
    font-size: 18px;
}
.subscribe-form__control:focus {
    outline: none;
    background-color: var(--secondary);
}
.subscribe-form__control::placeholder {
    color: var(--light);
}
.button {
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.5rem;
    background-color: var(--danger);
    color: var(--light);
    font-weight: 800;
    transition: 0.3s ease-in-out;
}
.movies {
    display: flex;
    align-items: center;
    min-height: 60vh;
    padding: 60px 0;
    background-color: var(--dark);
}
.title {
    color: var(--light);
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
}
.movies-list {
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
}
.movie-item {
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.movie-item__number {
    color: var(--dark);
    font-size: 100px;
    font-weight: 800;
    position: absolute;
    left: -30px;
    bottom: 0px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.movie-item img {
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.movie-item:hover {
    transform: scale(1.05);
}
.movie-item__rating {
    right: 10px;
    top: 10px;
    position: absolute;
    background-color: var(--danger);
    color: var(--light);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}
.advantages {
    min-height: 60vh;
    display: flex;
    background-color: var(--dark);
    align-items: center;
}
.advantages-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
}
.advantage-item {
    height: 250px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: rgb(25,33,69);
    background: linear-gradient(174deg, rgba(25,33,69,1) 0%, rgba(50,27,50,1) 100%);
}
.advantage-item__title {
    color: var(--light);
    font-size: 24px;
}
.advantage-item__description {
    color: var(--secondary);
    font-size: 15px;
}
.subscribe {
    background-color: var(--dark);
    padding: 60px 0;   
}
.sm-title {
    text-align: center;
    color: var(--light);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}